%h1= @album.title

%ol.result
  - @photos.sort{ |x,y| @group.users_likes_ids(y) <=> @group.users_likes_ids(x) }.each do |photo|
    %li
      .thumbnail
        .image= link_to(image_tag(photo.src), "https://vk.com/photo-#{@group.gid}_#{photo.pid}")
        .text
          %h4= photo.text
          %p= "Нравится: #{photo.likes[:count]}"
          %p= "Голоса из группы: #{ @group.users_likes_ids(photo) }"
        .clear
