%h1= @album.info.inspect

%ol
  - @photos.sort{ |x,y| @group.users_likes_ids(y) <=> @group.users_likes_ids(x) }.each do |photo|
    %li
      = image_tag(photo.src)
      %p= photo.text
      %p= "Нравится: #{photo.likes[:count]}"
      %p= "Голоса из группы: #{ @group.users_likes_ids(photo) }"
